body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  border: 10px white solid;
}

.title {
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  border-bottom: 5px solid white;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}